<h1>About PicBoard</h1>
<p>
	Sherm's PicBoard is a place where you can post any picture you want to later show your friends, without the hassle of having to search through a feed of text as well.
	<%= link_to "Jason Sherman", "http://jasonsherman.org" %>
	is the creator of this site, built with Ruby on Rails.
</p>

