<% if user_signed_in? %>
<h1> You're logged in!</h1>
 <% else %>

<div class="hero-unit">
	<h1>Sherm's PicBoard!</h1>
	<p>
		This board is here courtesy of
		<%= link_to "Jason Sherman", "http://jasonsherman.org" %>
		- your friendly neighborhood entrepreneur.
	</p>

	<p>
		<%= link_to "Post Pictures Now!", new_user_registration_path, class: "btn btn-primary btn-large"%>
	</p>
</div>

<% end %>
