<div class="hero-unit">
	<h1>Sherm's Photo Pin Board!</h1>
	<p>
		This board is here courtesy of
		<%= link_to "Jason Sherman", "http://jasonsherman.org" %>
		- your friendly neighborhood entrepreneur.
	</p>

	<p>
		<%= link_to "Post your Pictures Now!", "#", class: "btn btn-primary btn-large"%>
	</p>
</div>
